// custom

//mainStyleClasses (pagrindines klases elementu naudojamu neviena karta)
//main colors (pagrindines spalvos naudojamos zemiau apybreztos variables.css)

//lygiavimo klases
.center {
  text-align: center;
  .col {
    float: none;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

//style for headers (stilius antrastems pagrindinems)
.head {
  > h2 {
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--fourth-color);
  }
  > h2 > span {
    color: var(--second-color);
  }

  .line {
    width: 100%;
    display: inline-block;
    background-color: black;
    height: 3px;
    width: 60px;
  }
}

//for not having uppercase (nuimti didziasias raides is .head, cia reikia tik 'About Me' sekcijoje )
.head- {
  > h2 {
    text-transform: capitalize;
    h3 {
      font-weight: none;
    }
  }
}

.container.hero {
  min-height: 100vh;
  background-image: url("../img/avatar/home.jpg");
  background-size: cover;
  background-position: center; //duoda kad mazetu mazinant ekrana
  background-repeat: no-repeat;

  //nav-bar
  button.nav-burger {
    display: none;
    border: none;
    border-radius: none;
    font-size: 25px;
    background-color: inherit;
    cursor: pointer;

    i {
      padding: 10px 10px;
      color: var(--third-color);
      background-color: var(--second-color);
    }
  }

  .row.nav-bar {
    width: 100%;
    margin-left: 0;
    padding: 20px calc(50% - 600px) 7px;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--first-color-tr);

    .logo > a {
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }
    .logo > .logo-scroll {
      color: var(--second-color);
    }
    .nav-items > a {
      text-decoration: none;
      text-transform: capitalize;
      color: var(--third-color);
      font-weight: bold;
      padding-left: 20px;
      font-size: 16px;
      line-height: 25px;
      position: relative;
      &.activeSection {
        color: var(--second-color);
        &:first-of-type {
          color: var(--third-color);
        }
      }
      &::after {
        position: absolute;
        left: 20px;
        bottom: -26px;
        content: "";
        width: 0;
        height: 3px;
        background-color: var(--third-color);
        transition: linear;
        transition-duration: 0.5s;
      }
      &:hover::after {
        width: calc(100% - 25px);
        transition: linear;
        transition-duration: 0.5s;
      }
    }
    a.a-scroll {
      color: var(--fourth-color);
      &:first-of-type {
        color: var(--fourth-color);
      }
    }
  }
  .row.nav-bar.nav-bar-scroll {
    background-color: var(--third-color);
    border-bottom: none;
    box-shadow: 0 0 15px var(--first-color-tr);
    .nav-items > a::after {
      background-color: var(--second-color);
    }
    //sito cia reikia kad 'Home' spalva butu pirma balta o paskui juoda;
    a.a-scroll {
      &:first-of-type {
        color: var(--fourth-color);
      }
    }
  }
  .nav-burger-items a {
    display: none;
  }
}

@media (max-width: 1100px) {
  .container.hero {
    .row.nav-bar {
      width: calc(100% + 10px);
      left: -5px;
      padding-left: 10px;

      button.nav-burger {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }
      .nav-items {
        display: none;
      }
    }
    .row.nav-burger-row {
      display: none;
      margin: 0;
      padding: 0;
      width: calc(100% + 20px);
      float: left;
      position: fixed;
      top: 66px;
      right: 0;
      left: -10px;
      bottom: 0;
      z-index: 1;
      &.active {
        display: inline-block;
      }
      .nav-burger-items {
        // display: inline-block;
        // &.active {
        //   display: inline-block;
        // }
        a {
          &:first-of-type {
            border-top: 1px solid var(--first-color-f3);
          }
          &.activeSection {
            color: var(--second-color);
          }
          display: inline-block;
          width: 100%;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 25px;
          border-bottom: 1px solid var(--first-color-f3);
          font-weight: bold;
          padding: 15px;
          font-size: 12px;
          font-weight: 850;
          color: var(--fourth-color);
          background-color: var(--third-color);
        }
      }
    }
  }
}

// hero
.hero-content {
  display: inline-block;
  text-align: center;
  > .col {
    display: inline-block;
    margin-top: 200px;
    color: var(--third-color);
  }
  .hello {
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    font-size: 52px;
    font-weight: 100;
    line-height: 90px;
  }
  .ml {
    display: inline-block;
    width: 100%;
    font-size: 92px;
    letter-spacing: 5px;
    line-height: 100px;
  }
  #categ {
    display: inline-block;
    width: 100%;
    p {
      display: inline-block;
      margin: 20px 0 30px;
      padding: 0 8px;
      border-right: 1px solid;
      font-size: 15px;
      line-height: 16px;
      text-transform: uppercase;
    }
    p:last-child {
      border: none;
    }
  }
  a {
    display: inline-block;
    margin-top: 8px;
    padding: 16px 30px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
  }
  @media (max-width: 1100px) {
    .hello {
      font-size: 40px;
    }
    .ml {
      font-size: 56px;
      line-height: 60px;
    }
  }
  @media (max-width: 900px) {
    .hello {
      font-size: 34px;
    }
    .ml {
      font-size: 50px;
      line-height: 60px;
    }
    #categ > p {
      width: 100%;
      margin: 10px;
      border: none;
    }
  }
}

// about me

#about-me {
  padding: 40px;
  img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #fff;
    box-shadow: 0px 8px 15px var(--first-color);
  }
  h2 {
    padding-top: 0;
  }
  h4 {
    text-transform: none;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1300px) {
  #about-me {
    img {
      margin-top: 60px;
    }
  }
}
@media (max-width: 1100px) {
  #about-me img {
    margin-top: 0;
  }

  #about-me .block {
    padding: 0;
  }
}

// my services
#my-services {
  background-color: var(--first-color-f3);
  .block {
    box-shadow: 0px 8px 15px var(--first-color-tr);
  }
}

// my resume

// hire me now -> Gytis
.hire {
  display: inline-block;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 80px;
  background-color: var(--second-color);
  text-transform: uppercase;
  color: #fff;
}

// my-portfolio
//display photo on click
body {
  position: relative;
  #gallery-display {
    background-color: var(--fourth-color-tr);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .img-div {
      widht: 100%;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .img-display {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .img-no {
      width: 40px;
      position: absolute;
      bottom: 0%;
      right: 0%;
      transform: translate(640%, 110%);
      color: var(--first-color-f3);
      font-size: 12px;
      font-weight: 600;
    }

    .esc-btn {
      font-size: 30px;
      position: absolute;
      right: 20px;
      top: 15px;
      color: var(--first-color-f3);
      cursor: pointer;
    }
    .next-btn,
    .prev-btn {
      position: absolute;
      top: 50vh;
      width: 0;
      height: 0;
      cursor: pointer;
    }
    .next-btn {
      right: 0%;
      transform: translate(-100%, -100%);
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid var(--first-color-f3);
    }
    .prev-btn {
      left: 0%;
      transform: translate(100%, -100%);
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid var(--first-color-f3);
    }
  }
}

#my-portfolio-content {
  .menu {
    align-items: center;
    text-transform: uppercase;

    .menu-item {
      display: inline-block;
      font-weight: bold;
      position: relative;

      & > div.line {
        content: "";

        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 100%;
        height: 3px;
        background-color: var(--second-color);
      }
      &:hover {
        color: var(--second-color);
        cursor: pointer;
      }
      &:active::after {
        display: inline-block;
      }
    }
  }
}

// testimonials

// my blogs
.my_blogs {
  display: inline-block;
  box-shadow: 0px 8px 15px var(--first-color-tr);

  > .blogs_img {
    display: inline-block;
    height: 260px;
    overflow: hidden;
    img {
      display: inline-block;
      width: 100%;
      transition-duration: 1s;
    }
  }
  @media (max-width: 1300px) {
    .blogs_img {
      height: 210px;
    }
  }
  @media (max-width: 1100px) {
    .blogs_img {
      height: 170px;
    }
  }
  @media (max-width: 900px) {
    .blogs_img {
      height: 400px;
    }
  }
  @media (max-width: 700px) {
    .blogs_img {
      height: 100%;
    }
  }
  span {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 14px;
    color: var(--first-color-tr);
  }
  span:nth-child(1) {
    padding-right: 10px;
    margin-right: 4px;
    border-right: 1px solid var(--first-color-tr);
  }
  .blogs-make {
    display: inline-block;
    width: 100%;
    padding: 10px 18px;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: var(--fourth-color);
  }
  .blogs-make:hover {
    color: var(--second-color);
  }
  p {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0 18px;
    font-size: 16px;
    line-height: 24px;
    color: var(--first-color-tr);
  }
  .blogs-read {
    display: inline-block;
    padding: 1px 0;
    float: left;
    margin: 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
  }
  .blogs-read:hover {
    color: var(--fourth-color);
    border-bottom-color: var(--fourth-color);
  }
  &:hover {
    img {
      width: 120%;
      margin-left: -10%;
      margin-top: -10%;
      transition-duration: 500ms;
    }
  }
}
// My Blogs end

// contact me

.contact-me {
  background-color: var(--first-color-f3);
}

.contact-me-left {
  border: 2px solid transparent;
  box-shadow: 0px 8px 15px var(--first-color-tr);
  background-color: var(--second-color-anti);
  h1 {
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: left;
    padding-top: 15px;
  }
  p {
    font-size: 20px;
    color: var(--first-color);
    text-align: left;
  }
  i {
    float: right;
    font-size: 80px;
    color: whitesmoke;
  }

  input {
    width: 100%;
    height: 60px;
    font-size: 30px;
    padding-left: 10px;
  }
  .yuor-com > textarea {
    width: 100%;
    height: 190px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
  }
  button {
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 8px 15px var(--first-color-tr);
    &:hover {
      box-shadow: 1px 15px 25px 2px var(--second-color-tr);
    }
  }
}

.contact-me-right {
  border: 2px solid transparent;
  background-color: var(--second-color-anti);
  box-shadow: 0px 8px 15px var(--first-color-tr);
  padding-left: 30px;
  padding-top: 20px;
  .data {
    height: 120px;
    margin-top: 5px;
  }
  .phone {
    margin-bottom: 104px;
  }
  .icon {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin-top: 10px;
    background-color: black;

    i {
      line-height: 60px;
      font-size: 30px;
      color: white;
      text-align: center;
    }
  }
  .section {
    width: 60%;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
  }
  .section-title {
    width: 100%;
    font-size: 20px;
    float: left;
  }
  p {
    float: left;
    text-align: left;
  }
  .section-information {
    padding-top: 20px;
    font-size: 23px;
  }
}

// footer
footer {
  width: 100%;
  // border: none;
  background-color: #212121;
}
.links > a {
  width: 40px;
  height: 40px;
  text-decoration: var(--first-color-tr);
  color: var(--first-color);
  font-size: 15px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 50px;
  background-color: var(--fourth-color);
  border: 1px solid black;
  &:hover {
    color: var(--third-color);
    background-color: var(--first-color-tr);
    transition-duration: 900ms;
  }
}
.links-about > a {
  width: 40px;
  height: 40px;
  margin: 20px 2px 40px;
  text-decoration: none;
  color: var(--zero-color);
  background-color: var(--zero-color-anti);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--zero-color-anti);
  &:hover {
    color: var(--zero-color-anti);
    background-color: var(--zero-color);
    transition-duration: 900ms;
  }
}

.sp {
  margin-top: 35px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 43px;
  font-weight: 900;
}
.sp1 {
  border-top: 0.2px solid var(--first-color-tr);
  text-align: center;
  font-size: 15px;
  padding-top: 26px;
  color: rgb(136, 136, 133);
}
