@charset "UTF-8";
.testimonials-fonas {
  display: inline-block;
  padding: 90px 0 90px;
  background-color: var(--first-color-f3);
}

.testimonials-content {
  display: inline-block;
  background-color: var(--third-color);
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 8px 15px var(--first-color-tr);
  box-shadow: 0px 8px 15px var(--first-color-tr);
}

.testimonials-content .testimonial-list {
  width: 100%;
}

.testimonials-content .testimonial-list .testimonial-foto {
  padding-top: 70px;
}

.testimonials-content .testimonial-list .testimonial-foto > img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.testimonials-content .testimonial-list .testimonial-text {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0 25px;
  font-size: 20px;
  color: var(--first-color-tr);
}

.testimonials-content .testimonial-list .testimonial-autor {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.testimonials-content .testimonial-list .testimonial-pozition {
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--first-color-tr);
}

.a-testimonials {
  display: inline-block;
  margin-top: 35px;
}

.a-testimonials .i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
}

.a-testimonials .i1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid var --second-color;
  background-color: var(--second-color);
  cursor: pointer;
}

.a-testimonials .testimonial-nr {
  display: inline-block;
  text-align: center;
}
