.testimonials-fonas {
  display: inline-block;
  padding: 90px 0 90px;
  background-color: var(--first-color-f3);
}

.testimonials-content {
  display: inline-block;
  background-color: var(--third-color);
  padding-bottom: 30px;
  box-shadow: 0px 8px 15px var(--first-color-tr);
  .testimonial-list {
    width: 100%;
    .testimonial-foto {
      padding-top: 70px;
      > img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
    }
    .testimonial-text {
      margin-top: 50px;
      margin-bottom: 20px;
      padding: 0 25px;
      font-size: 20px;
      color: var(--first-color-tr);
    }
    .testimonial-autor {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .testimonial-pozition {
      font-size: 20px;
      margin-bottom: 30px;
      color: var(--first-color-tr);
    }
  }
}

.a-testimonials {
  display: inline-block;
  margin-top: 35px;
  .i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid var(--second-color);
    background-color: var(--third-color);
    cursor: pointer;
  }
  .i1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid var (--second-color);
    background-color: var(--second-color);
    cursor: pointer;
  }

  .testimonial-nr {
    display: inline-block;
    text-align: center;
  }
}
