:root {
  --first-color: #828282;
  --first-color-tr: #828282be;
  --first-color-anti: black;
  --second-color: #f34236;
  --second-color-tr: #f34336be;
  --second-color-anti: white;
  --third-color: white;
  --third-color-anti: black;
  --fourth-color: black;
  --fourth-color-anti: white;
}
